<!-- check for database, network or other errors -->
<div *ngIf="!isLoading && feed.feedbackType === 'error'" class="text-center">
    <div class="alert alert-success" [ngClass]="feed.feedbackType === 'success'
            ? 'alert-success'
            : 'alert-danger'
        " role="alert" style="height: 50px" [ngStyle]="!feed.feedbackMsg">
        {{
        feed.feedbackType === "error"
        ? feed.feedbackMsg + " Please try again later."
        : ""
        }}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-4 register-person">
        <!-- form card register -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Edit Person</h3>
            </div>

            <div class="card-body" style="text-align:center;">
                <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div>
                        <p>
                            <label for="product_name">Product Name </label>
                            <input type="text" id="product_name" name="product_name" class="form-control"
                                formControlName="product_name">
                        </p>
                    </div>

                    <div>
                        <p>
                            <label for="vendor">Vendor </label>
                            <input type="text" id="vendor" name="vendor" class="form-control" formControlName="vendor">
                        </p>
                    </div>

                    <div>
                        <p>
                            <label for="price">Price </label>
                            <input type="text" id="price" name="price" formControlName="price" class="form-control">
                        </p>
                    </div>
                    <button class="btn btn-success" type="submit" [disabled]="!userForm.valid">ADD Product</button><br><br>
                    <a class="btn btn-success" [routerLink]="['/list']">Back to product list</a>
                </form>
            </div>
        </div>
    </div>
</div>