<!-- check for database, network or other errors -->
<div *ngIf="!isLoading && feed.feedbackType === 'error'" class="text-center">
    <div class="alert alert-success" [ngClass]="feed.feedbackType === 'success'
            ? 'alert-success'
            : 'alert-danger'
        " role="alert" style="height: 50px" [ngStyle]="!feed.feedbackMsg">
        {{
          feed.feedbackType === "error"
          ? feed.feedbackMsg + " - Please try again later."
          : ""
          }} 
    </div>
  </div>
  
  <table class='table table-bordered' *ngIf="isLoading && feed.feedbackType === 'success'">
    <thead class="thead-light">
      <tr>
        <th>id</th>
        <th>Product Name</th>
        <th>Vendor</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of prodotti; let i = index">
        <td>{{product.id}}</td>
        <td><a [routerLink]="['/update/',product.id]">{{product.product_name}} </a></td>
        <td><a [routerLink]="['/update/',product.id]">{{product.vendor}} </a> </td>
        <td>{{product.price}}</td>

        <td class="text-center">
          <button type="submit" routerLinkActive="active" routerLink="/update/{{product.id}}" style="background-color:rgb(22, 218, 22)">
            <img src="assets\img\Edit.png" Style= "width:30px;height:30px"  />
          </button>
  
          <button type="submit" (click)="deleteProduct(product.id, i)" style="background-color:red">
            <img src="assets\img\delete.png" Style= "width:30px;height:30px"  />
          </button>
        </td>
      </tr>
    </tbody>
  </table>